body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;

}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#project-section {
    display: grid;
    grid-template-areas: "left right";
}

/* #hero-section {
    border: solid red 3px;
} */

#hero-section img {
    position: relative;
}

#hero-section h1 {
    position: absolute;
    top: 38px;
    right: 106px;
    color: white;
}

h1 span {
    color: yellow;
}

img {
    max-width: 100%;
}

div img {
    width: 800px;
}